/* components/TextScramble.module.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Play:wght@400;700&family=Teko:wght@300..700&display=swap');

.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  font-family: "Orbitron", sans-serif;
  color: #FAFAFA;
}

.dud {
  color: #757575;
}
